p {
    text-indent: 1.5em;
    margin-bottom: 16px;
    line-height: 1.6;
    font-size: 18px;
    text-align: center;
  }
a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    color: white;
    background-color: #5865f2;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: none !important;
    animation: none !important;
  }
  
  a:hover {
    background-color: #4752c4;
    color: white;
    transition: none !important;
    animation: none !important;
  }